extends layout
block content
  div#calendar
//
  div.calendar
    div.background
    div.month(style="position: relative")
      h1=date.format("MMMM D, YYYY")

      span.pull-right(style="position: absolute; bottom:0; right: 0;")
        - next = moment(date).add(1, 'month')
        - previous = moment(date).subtract(1,'month')
        a(href="?date=#{previous.format('YYYY-MM')}") Previous
        | |
        a(href="?date=#{next.format('YYYY-MM')}") Next
    - today = moment().format("MM D")
    - firstDayMonth = moment( date.date(1) ).day()
    - start_day = 1 - firstDayMonth
    div.header
      div.day= 'monday'
      div.day= 'tuesday'
      div.day= 'wednesday'
      div.day= 'thursday'
      div.day= 'friday'
      div.day= 'saturday'
      div.day= 'sunday'
    each week in month
      div.week
        - dayofweek = 1
        while dayofweek <= 7
          -day = week[dayofweek]
          if day == undefined
            div.day= ""
          else
            if today == day.format("MM D")
              div.day.today= day.date()
            else
              div.day= day.date()
          -dayofweek++